<?xml version="1.0" encoding="UTF-8"?>
<texture version="1" file="menu.png" type="bitmap" width="128" height="256" pixelformat="RGBA_8888" minfilter="linear" magfilter="linear" wrapt="clamp" wraps="clamp" premultiplyalpha="false">
    <!-- Created with TexturePacker http://www.codeandweb.com/texturepacker -->
    <!-- $TexturePacker:SmartUpdate:44b697823d8a7f1f9ccc00bc8feff79e:1/1$ -->
    <textureregion id="0" src="menu_quit.png" x="54" y="2" width="200" height="50" rotated="true" trimmed="false" srcx="0" srcy="0" srcwidth="200" srcheight="50"/>
    <textureregion id="1" src="menu_reset.png" x="2" y="2" width="200" height="50" rotated="true" trimmed="false" srcx="0" srcy="0" srcwidth="200" srcheight="50"/>
</texture>
